<div class="footer">
    <div class="footer-content">
      <h1>Join Our Newsletter & Event</h1>
      <div class="newsletter-input">
        <label for="">Your Email:</label>
        <input type="text">
        <button>Subscribe</button>
      </div>
      <div class="hotel-logo">
        <img src="assets/image/A2.png" alt="">
        <p class="hotel-title">Ananta Villa</p>
      </div>
      <div class="contact">
        <p class="contact-title">Contact</p>
        <p class="address">Haridasji Ki Magri, Udaipur, Rajasthan, 313001 Udaipur, India</p>
        <p class="contact-email">mgbhavesh1.com</p>
      </div>
      <div class="payment-methods">
        <p class="payment-title">Payment Methods</p>
        <p class="payment-disc">Pay any way you choose, no matter Whether it's cash or an international payment card, we support all of those payment options.</p>
        <div class="payment-icons">
          <div class="payment-icon">
            <i class="fab fa-cc-visa"></i>
            <span>Visa</span>
          </div>
          <div class="payment-icon">
            <i class="fab fa-cc-mastercard"></i>
            <span>Mastercard</span>
          </div>
          <div class="payment-icon">
            <i class="fab fa-cc-paypal"></i>
            <span>PayPal</span>
          </div>
          <div class="payment-icon">
            <i class="fas fa-credit-card"></i>
            <span>Credit Card</span>
          </div>
          <div class="payment-icon">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0iI0NFQTU1OCIgZD0iTTI2LjQ3IDguOTZoLTQuOTRWNi40N2MwLTEuMzctMS4xMS0yLjQ3LTIuNDctMi40N2gtNi4xMmMtMS4zNyAwLTIuNDcgMS4xMS0yLjQ3IDIuNDd2Mi40OUg1LjUzQTIuNTMgMi41MyAwIDAgMCAzIDExLjQ5djE0YzAgMS4zOSAxLjEzIDIuNTEgMi41MyAyLjUxaDIwLjk0QTIuNTMgMi41MyAwIDAgMCAyOSAyNS40OXYtMTRjMC0xLjM5LTEuMTMtMi41My0yLjUzLTIuNTN6bS0xNC0yLjQ5YzAtLjI3LjIyLS40OS40OS0uNDloNi4xMmMuMjcgMCAuNDkuMjIuNDkuNDl2Mi40OUgxMi40N1Y2LjQ3ek0yNyAyNS40OWMwIC4yNy0uMjIuNDktLjQ5LjQ5SDUuNTNhLjUzLjUzIDAgMCAxLS41My0uNTF2LTE0YzAtLjI5LjI0LS41My41My0uNTNoMjAuOTRjLjI5IDAgLjUzLjI0LjUzLjUzdjE0eiIvPjxwYXRoIGZpbGw9IiNDRUE1NTgiIGQ9Ik0xNiAxMy45NmMtMi4yMSAwLTQgMS43OS00IDRzMS43OSA0IDQgNCA0LTEuNzkgNC00LTEuNzktNC00LTR6bTAgNmMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6Ii8+PC9zdmc+" alt="UPI">
            <span>UPI</span>
          </div>
        </div>
      </div>
    </div>
  </div>